<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My Diary</title>
    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Title -->
    <title>My Diary - Nhật Ký Của Tôi</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Fav Icon -->
    <link rel="icon" href="~/img/favicon.png">
    <!-- Fav Icon -->
    <link rel="icon" href="~/img/favicon.png">

    <!-- Dashra Stylesheet -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome-all.min.css">
    <link rel="stylesheet" href="~/css/charts.min.css">
    <link rel="stylesheet" href="~/css/datatables.min.css">
    <link rel="stylesheet" href="~/css/jvector-map.css">
    <link rel="stylesheet" href="~/css/fancy-box.min.css">
    <link rel="stylesheet" href="~/css/nice-select.min.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/style.css">
</head>
<body id="crancy-dark-light">
	<div class="crancy-body-area ">
		<!-- crancy Admin Menu -->
		<div class="crancy-smenu" id="CrancyMenu">
			<!-- Admin Menu -->
			<div class="admin-menu">

				<!-- Logo -->
				<div class="logo crancy-sidebar-padding pd-right-0">
					<a class="crancy-logo" onclick="onButtonProfileDiaryClicked()">
						<!-- Logo for Default -->
						<img class="crancy-logo__main" src="~/img/logo.png" alt="#">
						<img class="crancy-logo__main--dark" src="~/img/logo-dark.png" alt="#">
						<!-- Logo for Dark Version -->
						<img class="crancy-logo__main--small" src="~/img/logo-icon.png" alt="#">
						<img class="crancy-logo__main--small--dark" src="~/img/logo-icon-dark.png" alt="#">
					</a>
					<div id="crancy__sicon" class="crancy__sicon close-icon">
						<img src="~/img/arrow-icon.svg">
					</div>
				</div>

				<!-- Main Menu -->
				<div class="admin-menu__one crancy-sidebar-padding mg-top-20">
					<!-- Nav Menu -->
					<div class="menu-bar">
						<ul id="CrancyMenu" class="menu-bar__one crancy-dashboard-menu">
							<li>
								<a class="collapsed" onclick="onButtonPostDiaryClicked()">
									<span class="menu-bar__text">
										<span class="crancy-menu-icon crancy-svg-icon__v1">
											<svg class="crancy-svg-icon" width="24" height="24" viewBox="0 0 24 24"
												 fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8 14H16M8 10H12M21.9664 11.2166C21.9886 11.4748 22 11.7361 22 12C22 16.9706 17.9706 21 13 21H6C3.79086 21 2 19.2091 2 17V12C2 7.02944 6.02944 3 11 3H13C13.2639 3 13.5252 3.01136 13.7834 3.03362M22 6C22 7.65685 20.6569 9 19 9C17.3431 9 16 7.65685 16 6C16 4.34315 17.3431 3 19 3C20.6569 3 22 4.34315 22 6Z"
													  stroke-width="1.5" stroke-linecap="round" />
											</svg>
										</span>
										<span class="menu-bar__name">Viết nhật ký</span>
									</span>
								</a>
							</li>
							<li class="active">
								<a onclick="onButtonProfileDiaryClicked()" class="collapsed">
									<span class="menu-bar__text">
										<span class="crancy-menu-icon crancy-svg-icon__v1">
											<svg class="crancy-svg-icon" width="24" height="24" viewBox="0 0 24 24"
												 fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7 7V5C7 3.89543 7.89543 3 9 3H20C21.1046 3 22 3.89543 22 5V14C22 15.1046 21.1046 16 20 16H15M11 7.5H18M14 11.5H18M5.58579 16.5858C6.36683 17.3668 7.63317 17.3668 8.41421 16.5858C8.78929 16.2107 9.29799 16 9.82843 16H10C11.1046 16 12 16.8954 12 18V19C12 20.1046 11.1046 21 10 21H4C2.89543 21 2 20.1046 2 19V18C2 16.8954 2.89543 16 4 16H4.17157C4.70201 16 5.21071 16.2107 5.58579 16.5858ZM9 12C9 13.1046 8.10457 14 7 14C5.89543 14 5 13.1046 5 12C5 10.8954 5.89543 10 7 10C8.10457 10 9 10.8954 9 12Z"
													  stroke-width="1.5" stroke-linecap="round" />
											</svg>
										</span>
										<span class="menu-bar__name">Nhật ký của tôi</span>
									</span>
								</a>
							</li>
							<li >
								<a onclick="onButtonProfileInfoClicked()" class="collapsed">
									<span class="menu-bar__text">
										<span class="crancy-menu-icon crancy-svg-icon__v1">
											<svg class="crancy-svg-icon" width="24" height="24" viewBox="0 0 24 24"
												 fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.9892 4.66663H13.0094C11.916 4.66663 11.0296 5.50236 11.0296 6.53329C11.0296 7.71304 9.76736 8.46308 8.73119 7.89904L8.62595 7.84175C7.67902 7.32628 6.46819 7.63218 5.92149 8.525L4.93158 10.1416C4.38487 11.0344 4.70932 12.176 5.65624 12.6915C6.69291 13.2558 6.69291 14.7441 5.65624 15.3084C4.70931 15.8239 4.38487 16.9655 4.93158 17.8583L5.92148 19.4749C6.46819 20.3677 7.67902 20.6736 8.62595 20.1582L8.73119 20.1009C9.76736 19.5368 11.0296 20.2869 11.0296 21.4666C11.0296 22.4976 11.916 23.3333 13.0094 23.3333H14.9892C16.0827 23.3333 16.969 22.4976 16.969 21.4666C16.969 20.2869 18.2313 19.5368 19.2675 20.1009L19.3727 20.1582C20.3197 20.6736 21.5305 20.3677 22.0772 19.4749L23.0671 17.8583C23.6138 16.9655 23.2894 15.8239 22.3424 15.3084C21.3058 14.7441 21.3058 13.2558 22.3424 12.6915C23.2894 12.176 23.6138 11.0344 23.0671 10.1416L22.0772 8.52501C21.5305 7.6322 20.3197 7.3263 19.3727 7.84176L19.2675 7.89905C18.2313 8.4631 16.969 7.71305 16.969 6.53329C16.969 5.50236 16.0827 4.66663 14.9892 4.66663Z"
													  stroke-width="1.5" stroke-linejoin="round"></path>
												<circle cx="14" cy="14" r="3.5" stroke-width="1.5"></circle>
											</svg>
										</span>
										<span class="menu-bar__name">Thông tin cá nhân</span>
									</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- End Nav Menu -->
				</div>

				<div class="crancy-sidebar-padding pd-btm-40">
					<!-- End Nav Menu -->
					<!-- Support Card -->
					<div class="crancy-support-card crancy-bg-cover"
						 style="background-image: url('../../img/support-bg.png');">
						<p class="crancy-support-card__text">
							Những suy nghĩ và khoảnh khắc riêng tư cần được lưu giữ lại. Những kế hoạch trong tương lai mà bạn đang muốn theo đuổi. Hãy biến sổ nhật ký thành người bạn đáng tin cậy, một người không bao giờ phán xét và luôn bên cạnh bạn.
						</p>
					</div>
					<!-- End Support Card -->
				</div>
			</div>
			<!-- End Admin Menu -->
		</div>
		<!-- End crancy Admin Menu -->
		<!-- Start Header -->
		<header class="crancy-header">
			<div class="container g-0">
				<div class="row g-0">
					<div class="col-12">
						<!-- Dashboard Header -->
						<div class="crancy-header__inner">
							<div class="crancy-header__middle">
								<div class="crancy-header__left">
									<div class="crancy-header__nav-bottom">
										<!-- Logo -->
										<div class="logo crancy-sidebar-padding">
											<a class="crancy-logo" onclick="onButtonProfileDiaryClicked()">
												<!-- Logo for Default -->
												<img class="crancy-logo__main" src="~/img/logo.png" alt="#">
												<img class="crancy-logo__main--dark" src="~/img/logo-dark.png" alt="#">
												<!-- Logo for Dark Version -->
												<img class="crancy-logo__main--small" src="~/img/logo-icon.png" alt="#">
												<img class="crancy-logo__main--small--dark" src="~/img/logo-icon-dark.png"
													 alt="#">
											</a>
										</div>
									</div>
									<!--  End Logo -->
									<div id="crancy__sicon" class="crancy__sicon close-icon">
										<img src="~/img/arrow-icon.svg">
									</div>
								</div>
								<div class="crancy-header__right">
									<div class="crancy-header__group">
										<div class="crancy-header__group-two">
											<div class="crancy-header__right">
												<!-- Header Zoom -->
												<div class="crancy-header__zoom">
													<button id="crancy-header__full">
														<svg class="crancy-header__svg--icon" width="25" height="25"
															 viewBox="0 0 25 25" fill="none"
															 xmlns="http://www.w3.org/2000/svg">
															<path d="M23.4278 22.1789C23.4278 20.9139 23.4278 19.6479 23.4278 18.383C23.4278 18.22 23.4215 18.0571 23.4321 17.8953C23.4619 17.4364 23.7824 17.1137 24.203 17.1116C24.6151 17.1095 24.9792 17.4364 24.9824 17.89C24.9952 20.0035 24.9963 22.1171 24.9814 24.2307C24.9782 24.6896 24.6577 24.9867 24.1913 24.9899C22.0937 25.0006 19.9961 25.0006 17.8984 24.9899C17.4395 24.9878 17.1126 24.6428 17.1052 24.2275C17.0977 23.7952 17.4363 23.446 17.9229 23.4385C18.8823 23.4236 19.8417 23.4332 20.801 23.4332C21.2557 23.4332 21.7104 23.4332 22.2832 23.4332C22.1118 23.249 22.0042 23.1265 21.8892 23.0105C19.9705 21.0896 18.0507 19.1698 16.132 17.2479C16.017 17.1329 15.8935 17.0211 15.8051 16.888C15.5794 16.5462 15.6038 16.2002 15.8892 15.9095C16.1746 15.6188 16.5227 15.5922 16.8667 15.8104C17.0147 15.9052 17.1382 16.0415 17.2649 16.1671C19.1634 18.0625 21.0619 19.9588 22.9561 21.8573C23.0807 21.9819 23.1755 22.1342 23.2841 22.2737C23.332 22.2428 23.3799 22.2108 23.4278 22.1789Z" />
															<path d="M2.70008 1.56808C2.90026 1.77784 3.01738 1.90668 3.13983 2.02913C5.03621 3.92657 6.93258 5.824 8.82895 7.72144C8.9546 7.84815 9.09089 7.9706 9.18778 8.11754C9.41139 8.45933 9.38583 8.80752 9.09941 9.09501C8.81192 9.38356 8.46373 9.40805 8.12087 9.18764C7.97287 9.09288 7.85042 8.95552 7.72371 8.82988C5.82627 6.93457 3.9299 5.03607 2.03353 3.13969C1.91001 3.01618 1.78117 2.89799 1.59697 2.7223C1.58419 2.93419 1.56928 3.07048 1.56928 3.20784C1.56715 4.46002 1.57141 5.71114 1.56609 6.96332C1.56396 7.53298 1.25517 7.88861 0.786669 7.88648C0.32349 7.88435 0.00831531 7.5202 0.00725053 6.95586C0.00192663 4.95621 0.000861849 2.95549 0.00618575 0.955831C0.00831531 0.288214 0.291547 0.00498221 0.958099 0.00391743C2.95776 -0.000341693 4.95848 0.00072311 6.95813 0.00604701C7.5246 0.00711179 7.88769 0.319092 7.89088 0.782272C7.89407 1.24758 7.53311 1.56382 6.96772 1.56595C5.5867 1.57127 4.20568 1.56808 2.70008 1.56808Z" />
															<path d="M2.70614 23.4332C4.22664 23.4332 5.6247 23.4247 7.02169 23.4374C7.70421 23.4438 8.12587 24.0784 7.76597 24.5863C7.62223 24.7897 7.29534 24.975 7.04831 24.9782C4.9837 25.009 2.91909 25.0005 0.854486 24.992C0.313578 24.9899 0.0101154 24.6843 0.00692107 24.1359C-0.00266195 22.0884 -0.00159717 20.0397 0.00585629 17.9911C0.00798585 17.4661 0.340197 17.1148 0.789534 17.1158C1.24313 17.118 1.56043 17.464 1.56256 17.9953C1.56895 19.3902 1.56469 20.7851 1.56469 22.2885C1.75529 22.1139 1.88306 22.0064 2.00125 21.8882C3.9104 19.9812 5.81955 18.0741 7.7287 16.166C7.83199 16.0628 7.93208 15.9531 8.04601 15.8637C8.38887 15.5943 8.8233 15.6156 9.10653 15.9073C9.3887 16.198 9.40041 16.6314 9.12676 16.97C9.03519 17.0828 8.92552 17.1818 8.82117 17.2851C6.9248 19.1826 5.02842 21.0789 3.13311 22.9774C3.01279 23.0999 2.8978 23.2287 2.70614 23.4332Z" />
															<path d="M23.3128 2.75628C22.8251 3.2546 22.3406 3.75718 21.8487 4.25017C20.3676 5.73447 18.8822 7.21558 17.399 8.69882C17.3415 8.75632 17.284 8.81382 17.2265 8.87131C16.7026 9.39199 16.2426 9.46546 15.8806 9.08746C15.5229 8.71373 15.5942 8.28994 16.1042 7.77991C17.8749 6.00919 19.6457 4.23846 21.4175 2.46986C21.6879 2.1994 21.969 1.9396 22.1884 1.56799C21.1396 1.56799 20.0897 1.56799 19.0409 1.56799C18.7161 1.56799 18.3903 1.57118 18.0655 1.56692C17.4639 1.56053 17.0945 1.25068 17.1062 0.769403C17.1179 0.307289 17.4789 0.0070207 18.0506 0.00489114C19.6276 0.000632024 21.2056 0.00276159 22.7825 0.00276159C23.2212 0.00276159 23.661 -0.00469188 24.0997 0.00489114C24.6778 0.0176685 24.9855 0.30303 24.9877 0.872687C24.9962 2.92132 24.9962 4.96996 24.9877 7.01753C24.9855 7.54034 24.6448 7.89172 24.1955 7.88426C23.7419 7.87681 23.4331 7.53182 23.431 6.99517C23.4246 5.60137 23.4288 4.20758 23.4288 2.81378C23.3894 2.79568 23.3511 2.77545 23.3128 2.75628Z">
														</svg>
													</button>
												</div>
												<!-- End Header Zoom -->
												<!-- Header Option Group -->
												<div class="crancy-header__options">
													<!-- Header Settings -->
													<div class="crancy-header__settings">
														<button id="crancy-header__settings" onclick="onButtonProfileInfoClicked()">
															<svg class="crancy-header__svg--icon" width="24"
																 height="24" viewBox="0 0 24 24" fill="none"
																 xmlns="http://www.w3.org/2000/svg">
																<path d="M22.5244 16.4785L21.8848 16.0869L21.8848 16.0869L22.5244 16.4785ZM21.3754 18.3549L22.015 18.7466L22.015 18.7466L21.3754 18.3549ZM1.47427 7.5216L0.834662 7.12994H0.834662L1.47427 7.5216ZM2.62327 5.64521L3.26288 6.03687H3.26288L2.62327 5.64521ZM5.76238 4.85216L6.12096 4.19343L6.12096 4.19343L5.76238 4.85216ZM2.3154 10.4813L1.95681 11.14H1.95681L2.3154 10.4813ZM18.2363 19.148L17.8777 19.8067L17.8777 19.8067L18.2363 19.148ZM21.6833 13.5188L21.3247 14.1775L21.6833 13.5188ZM2.62327 18.3549L1.98365 18.7466H1.98365L2.62327 18.3549ZM1.47427 16.4786L2.11388 16.0869H2.11388L1.47427 16.4786ZM21.3754 5.64523L22.015 5.25357L22.015 5.25357L21.3754 5.64523ZM22.5244 7.52162L21.8848 7.91328L21.8848 7.91328L22.5244 7.52162ZM21.6833 10.4813L22.0419 11.1401L21.6833 10.4813ZM18.2363 4.85217L18.5949 5.5109L18.2363 4.85217ZM2.31539 13.5188L2.67397 14.1776H2.67398L2.31539 13.5188ZM5.76238 19.148L5.4038 18.4893L5.40379 18.4893L5.76238 19.148ZM18.1142 4.91866L17.7556 4.25994V4.25994L18.1142 4.91866ZM5.88453 4.91865L5.52595 5.57738L5.52595 5.57738L5.88453 4.91865ZM18.1142 19.0815L18.4728 18.4228H18.4728L18.1142 19.0815ZM5.88453 19.0815L6.24311 19.7402L6.24312 19.7402L5.88453 19.0815ZM10.8504 1.91675H13.1483V0.416748H10.8504V1.91675ZM13.1483 22.0834H10.8504V23.5834H13.1483V22.0834ZM10.8504 22.0834C9.95323 22.0834 9.30237 21.4082 9.30237 20.6667H7.80237C7.80237 22.3185 9.20919 23.5834 10.8504 23.5834V22.0834ZM14.6963 20.6667C14.6963 21.4082 14.0455 22.0834 13.1483 22.0834V23.5834C14.7895 23.5834 16.1963 22.3185 16.1963 20.6667H14.6963ZM13.1483 1.91675C14.0455 1.91675 14.6963 2.59198 14.6963 3.33341H16.1963C16.1963 1.68162 14.7895 0.416748 13.1483 0.416748V1.91675ZM10.8504 0.416748C9.20919 0.416748 7.80237 1.68162 7.80237 3.33342H9.30237C9.30237 2.59198 9.95323 1.91675 10.8504 1.91675V0.416748ZM21.8848 16.0869L20.7358 17.9633L22.015 18.7466L23.164 16.8702L21.8848 16.0869ZM2.11388 7.91326L3.26288 6.03687L1.98366 5.25355L0.834662 7.12994L2.11388 7.91326ZM3.26288 6.03687C3.67891 5.35747 4.63841 5.09424 5.4038 5.51088L6.12096 4.19343C4.68813 3.41346 2.83677 3.86035 1.98366 5.25355L3.26288 6.03687ZM2.67398 9.8226C1.93198 9.41869 1.71509 8.56452 2.11388 7.91326L0.834662 7.12994C-0.0356889 8.55128 0.500584 10.3473 1.95681 11.14L2.67398 9.8226ZM20.7358 17.9633C20.3198 18.6427 19.3603 18.9059 18.5949 18.4893L17.8777 19.8067C19.3106 20.5867 21.1619 20.1398 22.015 18.7466L20.7358 17.9633ZM23.164 16.8702C24.0344 15.4489 23.4981 13.6528 22.0419 12.8601L21.3247 14.1775C22.0667 14.5815 22.2836 15.4356 21.8848 16.0869L23.164 16.8702ZM3.26288 17.9633L2.11388 16.0869L0.834661 16.8702L1.98365 18.7466L3.26288 17.9633ZM20.7358 6.03689L21.8848 7.91328L23.164 7.12996L22.015 5.25357L20.7358 6.03689ZM21.8848 7.91328C22.2836 8.56453 22.0667 9.4187 21.3247 9.82261L22.0419 11.1401C23.4981 10.3474 24.0344 8.5513 23.164 7.12995L21.8848 7.91328ZM18.5949 5.5109C19.3603 5.09425 20.3198 5.35749 20.7358 6.03689L22.015 5.25357C21.1619 3.86037 19.3106 3.41348 17.8777 4.19345L18.5949 5.5109ZM2.11388 16.0869C1.71509 15.4356 1.93198 14.5815 2.67397 14.1776L1.95681 12.8601C0.500582 13.6528 -0.0356903 15.4489 0.834661 16.8702L2.11388 16.0869ZM1.98365 18.7466C2.83677 20.1398 4.68813 20.5867 6.12096 19.8067L5.40379 18.4893C4.6384 18.9059 3.6789 18.6427 3.26288 17.9633L1.98365 18.7466ZM18.4728 5.57739L18.5949 5.5109L17.8777 4.19345L17.7556 4.25994L18.4728 5.57739ZM5.40379 5.51088L5.52595 5.57738L6.24312 4.25993L6.12096 4.19343L5.40379 5.51088ZM18.5949 18.4893L18.4728 18.4228L17.7556 19.7402L17.8777 19.8067L18.5949 18.4893ZM5.52596 18.4228L5.4038 18.4893L6.12095 19.8067L6.24311 19.7402L5.52596 18.4228ZM1.95681 11.14C2.63819 11.511 2.63819 12.4892 1.95681 12.8601L2.67398 14.1776C4.39914 13.2385 4.39914 10.7617 2.67398 9.8226L1.95681 11.14ZM6.24312 19.7402C6.94605 19.3576 7.80237 19.8664 7.80237 20.6667H9.30237C9.30237 18.7284 7.22842 17.496 5.52595 18.4228L6.24312 19.7402ZM16.1963 20.6667C16.1963 19.8664 17.0527 19.3576 17.7556 19.7402L18.4728 18.4228C16.7703 17.496 14.6963 18.7284 14.6963 20.6667H16.1963ZM22.0419 12.8601C21.3605 12.4892 21.3605 11.511 22.0419 11.1401L21.3247 9.82261C19.5996 10.7617 19.5996 13.2385 21.3247 14.1775L22.0419 12.8601ZM5.52595 5.57738C7.22842 6.50413 9.30237 5.27178 9.30237 3.33342H7.80237C7.80237 4.13375 6.94605 4.64258 6.24312 4.25993L5.52595 5.57738ZM17.7556 4.25994C17.0527 4.64259 16.1963 4.13376 16.1963 3.33341H14.6963C14.6963 5.27178 16.7703 6.50414 18.4728 5.57739L17.7556 4.25994ZM14.8605 12.0001C14.8605 13.5802 13.5795 14.8612 11.9994 14.8612V16.3612C14.4079 16.3612 16.3605 14.4087 16.3605 12.0001H14.8605ZM11.9994 14.8612C10.4192 14.8612 9.13825 13.5802 9.13825 12.0001H7.63825C7.63825 14.4087 9.59078 16.3612 11.9994 16.3612V14.8612ZM9.13825 12.0001C9.13825 10.4199 10.4192 9.13897 11.9994 9.13897V7.63897C9.59078 7.63897 7.63825 9.59151 7.63825 12.0001H9.13825ZM11.9994 9.13897C13.5795 9.13897 14.8605 10.4199 14.8605 12.0001H16.3605C16.3605 9.59151 14.4079 7.63897 11.9994 7.63897V9.13897Z"
																	  fill="#2F3032" />
															</svg>
														</button>
													</div>
													<!-- Header Nav -->
												</div>
												<!-- End Header Option Group-->
												<!-- Header Author -->
												<div class="crancy-header__author">
													<a onclick="onButtonProfileDiaryClicked()">
														<div class="crancy-header__author-img">
															<img src="~/img/collection-3.png" alt="#">
														</div>
													</a>
													<!-- crancy Profile Hover -->
													<div class="crancy-balance crancy-profile__hover">
														<!-- crancy Balance List -->
														<ul class="crancy-balance_list">
															<li>
																<div class="crancy-balance-info">
																	<div class="crancy-balance__img crancy-sbcolor">
																		<svg width="14" height="20" viewBox="0 0 14 20"
																			 fill="none"
																			 xmlns="http://www.w3.org/2000/svg">
																			<path d="M10.1446 11.7104H3.85544C2.8333 11.7117 1.85337 12.1161 1.1306 12.8351C0.407829 13.5541 0.00123498 14.5288 0 15.5456V19.4473H14V15.5456C13.9988 14.5288 13.5922 13.5541 12.8694 12.8351C12.1466 12.1161 11.1667 11.7117 10.1446 11.7104V11.7104Z"
																				  fill="white" />
																			<path d="M7.00041 9.86824C9.64556 9.86824 11.7899 7.80639 11.7899 5.26298C11.7899 2.71956 9.64556 0.657715 7.00041 0.657715C4.35526 0.657715 2.21094 2.71956 2.21094 5.26298C2.21094 7.80639 4.35526 9.86824 7.00041 9.86824Z"
																				  fill="white" />
																		</svg>
																	</div>
																	<h4 class="crancy-balance-name">
																		<a onclick="onButtonProfileDiaryClicked()">Nhật ký của tôi</a>
																	</h4>
																</div>
															</li>
															<li>
																<div class="crancy-balance-info">
																	<div class="crancy-balance__img crancy-color8__bg">
																		<svg width="16" height="14" viewBox="0 0 16 14"
																			 fill="none"
																			 xmlns="http://www.w3.org/2000/svg">
																			<path d="M15.0478 3.23096L9.75947 8.42357C8.53184 9.62616 6.54449 9.62616 5.31687 8.42357L0.0288576 3.23096C0.0200236 3.3284 0 3.41659 0 3.51346V10.9158C0.00206126 12.6183 1.40725 13.9982 3.14106 14.0002H11.9359C13.6697 13.9982 15.0749 12.6183 15.0769 10.9158V3.51346C15.0766 3.41659 15.0566 3.3284 15.0478 3.23096Z"
																				  fill="white" />
																			<path d="M8.95951 7.00639L15.0769 1.46295C14.4742 0.55753 13.3936 0.00284454 12.2264 0H2.85025C1.68334 0.00284454 0.602449 0.55753 0 1.46295L6.11742 7.00639C6.90289 7.71582 8.17372 7.71582 8.95951 7.00639Z"
																				  fill="white" />
																		</svg>
																	</div>
																	<h4 class="crancy-balance-name">
																		<a onclick="onButtonPostDiaryClicked()">Viết nhật ký</a>
																	</h4>
																</div>
															</li>
															<li>
																<div class="crancy-balance-info">
																	<div class="crancy-balance__img crancy-color6__bg">
																		<svg width="19" height="21" viewBox="0 0 19 21"
																			 fill="none"
																			 xmlns="http://www.w3.org/2000/svg">
																			<path d="M0.339642 15.1257C1.03471 16.332 2.57615 16.7465 3.7825 16.0514C3.78333 16.0509 3.78412 16.0505 3.78495 16.05L4.15887 15.834C4.86474 16.4379 5.67609 16.9063 6.55208 17.2155V17.6466C6.55208 19.0389 7.68075 20.1676 9.07302 20.1676C10.4653 20.1676 11.594 19.0389 11.594 17.6466V17.2155C12.4701 16.9058 13.2815 16.4369 13.9872 15.8324L14.3628 16.0492C15.5694 16.7453 17.112 16.3315 17.8081 15.1248C18.5042 13.9182 18.0904 12.3756 16.8837 11.6795L16.5106 11.4644C16.6786 10.5505 16.6786 9.61366 16.5106 8.69974L16.8837 8.48464C18.0904 7.7885 18.5042 6.246 17.8081 5.03933C17.112 3.8327 15.5695 3.41884 14.3628 4.11497L13.9889 4.33094C13.2823 3.72777 12.4704 3.26029 11.594 2.95203V2.52095C11.594 1.12867 10.4653 0 9.07302 0C7.68075 0 6.55208 1.12867 6.55208 2.52095V2.95203C5.67597 3.26175 4.86458 3.73064 4.15887 4.3352L3.78325 4.11757C2.57659 3.4214 1.03408 3.83526 0.337948 5.04189C-0.358187 6.24852 0.0556415 7.79106 1.26231 8.4872L1.63541 8.7023C1.46745 9.61619 1.46745 10.553 1.63541 11.467L1.26231 11.6821C0.0589897 12.38 -0.3535 13.9196 0.339642 15.1257ZM9.07302 6.72253C10.9294 6.72253 12.4343 8.22742 12.4343 10.0838C12.4343 11.9401 10.9294 13.445 9.07302 13.445C7.21666 13.445 5.71178 11.9401 5.71178 10.0838C5.71178 8.22742 7.21666 6.72253 9.07302 6.72253Z"
																				  fill="white" />
																		</svg>

																	</div>
																	<h4 class="crancy-balance-name">
																		<a onclick="onButtonProfileInfoClicked()">Thông tin cá nhân</a>
																	</h4>
																</div>
															</li>
															<li>
																<div class="crancy-balance-info">
																	<div class="crancy-balance__img crancy-color4__bg">
																		<svg width="19" height="18" viewBox="0 0 19 18"
																			 fill="none"
																			 xmlns="http://www.w3.org/2000/svg">
																			<path d="M0.00270606 13.0635C0.00270606 12.9135 0.00270606 12.7637 0.00270606 12.6137C0.00270606 12.4633 0.00270606 12.3131 0.00270606 12.1627C0.00270606 12.0127 0.00270606 11.8629 0.00270606 11.713C0.00270606 11.5625 0.00270606 11.4123 0.00270606 11.2619C0.00270606 11.1119 0.00270606 10.9621 0.00270606 10.8122C0.00270606 10.6617 0.00270606 10.5115 0.00270606 10.3611C0.00270606 10.2111 0.00270606 10.0614 0.00270606 9.91137C0.00270606 9.76094 0.00270606 9.61074 0.00270606 9.4603C0.00270606 9.31032 0.00270606 9.16057 0.00270606 9.01059C0.00270606 8.86015 0.00270606 8.70995 0.00270606 8.55952C0.00270606 8.40953 0.00270606 8.25978 0.00270606 8.1098C0.00270606 7.95937 0.00270606 7.80916 0.00270606 7.65873C0.00270606 7.50875 0.00270606 7.35899 0.00270606 7.20901C0.00270606 7.05858 0.00270606 6.90837 0.00270606 6.75794C0.00270606 6.60796 0.00270606 6.4582 0.00270606 6.30822C0.00270606 6.15779 0.00270606 6.00758 0.00270606 5.85715C0.00270606 5.70717 0.00270606 5.55741 0.00270606 5.40743C0.00270606 5.257 0.00270606 5.10679 0.00270606 4.95636C0.00270606 4.80638 0.00270606 4.65663 0.00270606 4.50664C0.00270606 4.35621 0.00270606 4.20601 0.00270606 4.05557C0.00270606 3.90559 0.00270606 3.75584 0.00270606 3.60586C0.00270606 3.45542 0.00270606 3.30522 0.00270606 3.15479C0.00270606 3.0048 0.00270606 2.85505 0.00270606 2.70507C0.00270606 2.55464 0.00270606 2.40443 0.00270606 2.254C0.00270606 2.10402 0.00270606 1.95426 0.00270606 1.80428C0.00270606 1.65385 0.00270606 1.50364 0.00270606 1.35321C0.00270606 1.20323 0.00270606 1.05347 0.00270606 0.903491C0.0468447 0.350632 0.352212 0.0452646 0.907773 0C1.05775 0 1.20751 0 1.35749 0C1.50792 0 1.65813 0 1.80856 0C1.95854 0 2.1083 0 2.25828 0C2.40871 0 2.55892 0 2.70935 0C2.85933 0 3.00909 0 3.15907 0C3.3095 0 3.45971 0 3.61014 0C3.76012 0 3.90988 0 4.05986 0C4.21029 0 4.3605 0 4.51093 0C4.66091 0 4.81067 0 4.96065 0C5.11108 0 5.26128 0 5.41172 0C5.5617 0 5.71145 0 5.86143 0C6.01187 0 6.16207 0 6.3125 0C6.46249 0 6.61224 0 6.76222 0C6.91266 0 7.06286 0 7.21329 0C7.36327 0 7.51303 0 7.66301 0C7.81344 0 7.96365 0 8.11408 0C8.26406 0 8.41382 0 8.5638 0C8.71423 0 8.86444 0 9.01487 0C9.16485 0 9.31461 0 9.46459 0C9.61502 0 9.76523 0 9.91566 0C10.0656 0 10.2154 0 10.3654 0C10.5158 0 10.666 0 10.8164 0C10.9664 0 11.1162 0 11.2662 0C11.4166 0 11.5668 0 11.7172 0C12.1138 0.015989 12.3937 0.20538 12.5579 0.566371C12.5721 0.61096 12.5865 0.655774 12.6007 0.700363C12.6043 0.723108 12.6079 0.745853 12.6115 0.768372C12.6122 1.77906 12.6128 2.78952 12.6126 3.8002C12.6126 3.84411 12.6243 3.89028 12.5975 3.93172C12.4541 3.93104 12.3106 3.92068 12.1676 3.93735C12.017 3.92383 11.8661 3.92406 11.7154 3.93735C11.5661 3.92406 11.4166 3.92473 11.2673 3.93712C11.1626 3.93442 11.0576 3.92519 10.9536 3.93081C10.8709 3.93532 10.8556 3.90492 10.8561 3.82903C10.8592 3.30747 10.8581 2.78591 10.8577 2.26436C10.8577 2.20851 10.8646 2.15131 10.8365 2.09884C10.8011 1.92543 10.6993 1.81734 10.5241 1.78176C10.4541 1.74325 10.3778 1.75992 10.3046 1.75969C8.09044 1.75856 5.87765 1.75879 3.66509 1.75879C3.5955 1.75879 3.52569 1.75879 3.4561 1.75879C3.45363 1.76757 3.45093 1.77613 3.44845 1.78491C3.65067 1.8858 3.8529 1.98691 4.05513 2.0878C4.35442 2.24657 4.65258 2.40713 4.96065 2.54878C5.25385 2.71768 5.55697 2.86766 5.86211 3.01381C5.95399 3.06944 6.04767 3.12146 6.14879 3.15906C6.33435 3.27031 6.52824 3.3658 6.72416 3.45723C6.83203 3.51488 6.93923 3.57388 7.048 3.62973C7.26869 3.74323 7.5011 3.83916 7.65738 4.04679V4.05377L7.66346 4.05715C7.74521 4.197 7.79926 4.34675 7.82403 4.50687C7.82493 4.65708 7.82605 4.80728 7.82696 4.95749C7.81547 5.10792 7.81547 5.25835 7.82696 5.40878C7.8166 5.55854 7.8166 5.70852 7.82696 5.85828C7.81547 6.00871 7.81547 6.15914 7.82696 6.30957C7.8166 6.45933 7.8166 6.60908 7.82696 6.75884C7.81547 6.90927 7.81547 7.0597 7.82696 7.21013C7.8166 7.35989 7.8166 7.50965 7.82696 7.6594C7.81547 7.80983 7.81547 7.96027 7.82696 8.11092C7.8166 8.26068 7.8166 8.41043 7.82696 8.56019C7.81547 8.71062 7.81547 8.86105 7.82696 9.01149C7.8166 9.16124 7.8166 9.311 7.82696 9.46075C7.81547 9.61119 7.81547 9.76162 7.82696 9.91205C7.8166 10.0618 7.8166 10.2116 7.82696 10.3615C7.81547 10.512 7.81547 10.6624 7.82696 10.8128C7.8166 10.9626 7.8166 11.1123 7.82696 11.2623C7.81547 11.4128 7.81547 11.5632 7.82696 11.7136C7.82493 11.7247 7.82088 11.7357 7.82133 11.7465C7.83349 12.0762 7.7398 12.0228 8.11296 12.0165C8.26339 12.0275 8.41382 12.0275 8.56425 12.0165C8.71378 12.0262 8.86354 12.0262 9.01307 12.0165C9.16373 12.0275 9.31461 12.0275 9.46527 12.0165C9.6148 12.0262 9.76433 12.0262 9.91408 12.0165C10.0645 12.0275 10.2149 12.0278 10.3654 12.0165C10.5982 12.0305 10.7595 11.9251 10.8259 11.7159C10.861 11.6461 10.855 11.5706 10.855 11.4963C10.8552 10.4019 10.8565 9.30739 10.8523 8.21294C10.8518 8.11137 10.8809 8.09066 10.977 8.09156C11.4792 8.09628 11.9814 8.09336 12.4838 8.09381C12.5279 8.09381 12.5743 8.08322 12.6146 8.1125C12.611 8.26203 12.6038 8.41179 12.6185 8.56132C12.6074 8.7113 12.6074 8.86128 12.6185 9.01126C12.6061 9.16147 12.6061 9.31167 12.6185 9.46188C12.6074 9.61186 12.6074 9.76184 12.6185 9.91182C12.6061 10.062 12.6061 10.2122 12.6185 10.3624C12.6074 10.5124 12.6074 10.6624 12.6185 10.8124C12.6061 10.9626 12.6061 11.1128 12.6185 11.263C12.6074 11.413 12.6074 11.563 12.6185 11.713C12.6061 11.8632 12.6061 12.0134 12.6185 12.1636C12.6074 12.3136 12.6074 12.4635 12.6185 12.6135C12.6108 12.7712 12.6029 12.929 12.5953 13.0867C12.5471 13.2438 12.4701 13.3857 12.3656 13.5125C12.2985 13.5643 12.2316 13.6161 12.1645 13.6679C11.9715 13.7663 11.7639 13.7762 11.5524 13.7758C10.3417 13.7737 9.1313 13.7744 7.92064 13.7767C7.88483 13.7767 7.83011 13.7422 7.81007 13.8084C7.80016 13.8604 7.79926 13.9122 7.81074 13.964C7.7979 14.1147 7.79836 14.2653 7.81074 14.416C7.79926 14.5655 7.79903 14.7151 7.81074 14.8646C7.79813 15.015 7.79813 15.1654 7.81074 15.3159C7.79903 15.4654 7.79926 15.6152 7.81074 15.7647C7.79813 15.9154 7.79813 16.066 7.81074 16.2164C7.79903 16.3662 7.79903 16.516 7.81074 16.6657C7.7979 16.8164 7.79858 16.967 7.81029 17.1177C7.79408 17.4784 7.51438 17.6464 7.21307 17.5703C7.19438 17.5523 7.17276 17.5413 7.14618 17.5422C7.02548 17.4663 6.89824 17.403 6.76785 17.3456C6.62328 17.2566 6.47172 17.181 6.31746 17.1112C6.17018 17.0229 6.0175 16.9456 5.86121 16.8747C5.72947 16.7986 5.5957 16.7263 5.4554 16.6666C5.44054 16.645 5.4178 16.6382 5.3937 16.634C5.25498 16.5509 5.11085 16.4777 4.96335 16.411C4.66744 16.2459 4.3677 16.0888 4.06076 15.9451C4.03599 15.9217 4.00739 15.9052 3.97338 15.8994C3.95559 15.8759 3.93059 15.8658 3.90245 15.862C3.83781 15.819 3.77025 15.7818 3.69661 15.7568C3.52389 15.6512 3.34283 15.5613 3.15907 15.4769C2.86564 15.3123 2.56613 15.1594 2.26346 15.0125C1.96485 14.8522 1.66624 14.6914 1.35929 14.5475C1.06541 14.3786 0.762521 14.2271 0.45783 14.0791C0.404683 14.041 0.351536 14.0028 0.298615 13.9647C0.0398636 13.7168 -0.0137333 13.4017 0.00270606 13.0635Z"
																				  fill="white" />
																			<path d="M17.9938 5.81633C17.9965 5.83052 17.9995 5.84493 18.0022 5.85912C18.0017 5.94176 18.001 6.02418 18.0006 6.10683C17.981 6.17259 17.9616 6.23857 17.942 6.30433C17.8662 6.48696 17.7182 6.61443 17.5932 6.75923C17.5797 6.75945 17.572 6.76598 17.5711 6.77995C17.42 6.91506 17.2766 7.05806 17.1417 7.20917C17.1277 7.20985 17.1214 7.2175 17.121 7.23102C16.9685 7.36456 16.8262 7.50801 16.6918 7.65956C16.6782 7.65979 16.671 7.66655 16.6704 7.68028C16.5195 7.81563 16.3756 7.95795 16.2411 8.10996C16.2276 8.11086 16.2209 8.11829 16.2204 8.13158C16.068 8.26535 15.9256 8.40902 15.791 8.56035C15.7777 8.5608 15.7705 8.56778 15.7698 8.58107C15.6187 8.71596 15.4746 8.85829 15.3408 9.01075C15.3338 9.01773 15.3266 9.02493 15.3196 9.03192C15.1669 9.16546 15.0253 9.31003 14.8897 9.46069C14.8762 9.46046 14.869 9.46677 14.8688 9.48051C14.7355 9.59378 14.5866 9.67936 14.4195 9.73228C14.2682 9.7557 14.1175 9.75525 13.968 9.71922C13.6264 9.60031 13.4147 9.36611 13.339 9.01097C13.3307 8.85874 13.3462 8.70876 13.3816 8.56058C13.4111 8.46284 13.475 8.38335 13.5205 8.29394C13.5746 8.23382 13.6286 8.17369 13.6827 8.11356C13.7797 8.01785 13.8766 7.92192 13.9736 7.82621C14.0362 7.78095 14.0916 7.72825 14.1367 7.66519C14.2306 7.57264 14.3245 7.47986 14.4184 7.3873C14.4871 7.33663 14.547 7.27718 14.5985 7.20917C14.6852 7.11459 14.7719 7.02001 14.8591 6.92475C14.7154 6.92475 14.5677 6.92475 14.42 6.92475C14.2695 6.91371 14.1189 6.91394 13.9684 6.92475C13.8187 6.91439 13.6689 6.91439 13.5194 6.92475C13.369 6.91371 13.2183 6.91394 13.0679 6.92475C12.9181 6.91439 12.7684 6.91439 12.6188 6.92475C12.4684 6.91371 12.3178 6.91394 12.1673 6.92475C12.0176 6.91439 11.8678 6.91439 11.7183 6.92475C11.5678 6.91371 11.4172 6.91394 11.2668 6.92475C11.117 6.91439 10.9675 6.91439 10.8177 6.92475C10.6671 6.91394 10.5166 6.91394 10.366 6.92475C10.2164 6.91349 10.0669 6.91619 9.91738 6.9234C9.76289 6.91214 9.61359 6.87926 9.47216 6.81508C9.44086 6.79616 9.40956 6.77724 9.37803 6.75833C9.07514 6.50498 8.95556 6.17957 8.9988 5.79066C9.00713 5.75125 9.01569 5.71184 9.02402 5.67265C9.06478 5.58438 9.10554 5.4961 9.1463 5.40782C9.23368 5.28824 9.3402 5.18915 9.46541 5.10988C9.61088 5.04953 9.75771 5.00044 9.9194 5.00066C11.5338 5.00247 13.1485 5.00202 14.7629 5.00134C14.7983 5.00134 14.8364 5.01328 14.8823 4.98242C14.7283 4.82659 14.583 4.66895 14.4204 4.5282C14.4132 4.52099 14.4062 4.51401 14.399 4.50681C14.2641 4.35615 14.122 4.2127 13.9691 4.08028C13.9615 4.07263 13.9538 4.0652 13.9462 4.05754C13.8043 3.91341 13.6626 3.76929 13.5208 3.62539C13.5153 3.61795 13.5102 3.61075 13.5048 3.60332C13.4208 3.46505 13.3705 3.31394 13.3374 3.15653C13.3379 3.11577 13.3368 3.07478 13.339 3.03424C13.3453 2.92345 13.326 2.80792 13.3987 2.70929C13.5237 2.45661 13.7259 2.29672 13.9925 2.2134C14.1272 2.19178 14.2621 2.19291 14.397 2.2107C14.6015 2.27218 14.7792 2.37622 14.9262 2.53318C15.0001 2.612 15.0814 2.68339 15.1595 2.75838C15.1895 2.80072 15.225 2.83787 15.2683 2.86692C15.3748 2.98808 15.4869 3.10338 15.6104 3.20742C15.6385 3.25224 15.6754 3.28804 15.7196 3.31687C15.8238 3.44005 15.9391 3.55242 16.0603 3.65872C16.0966 3.69497 16.1326 3.73123 16.1688 3.76749C16.2756 3.88819 16.3882 4.00327 16.5111 4.10776C16.5391 4.1528 16.5771 4.1877 16.6204 4.2172C16.7246 4.34039 16.8399 4.45253 16.9609 4.55905C16.9917 4.60071 17.0259 4.63922 17.0703 4.6676C17.2617 4.86239 17.4491 5.06124 17.6457 5.25086C17.8117 5.4112 17.938 5.59091 17.9938 5.81633Z"
																				  fill="white" />
																		</svg>
																	</div>
																	<h4 class="crancy-balance-name">
																		<a onclick="onButtonBackToLoginClicked()">
																			Đăng xuất
																		</a>
																	</h4>
																</div>
															</li>
														</ul>
													</div>
													<!-- End crancy Balance Hover -->
												</div>
												<!-- End Header Author -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		@RenderBody()
	</div>

    <!-- Dashra Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/charts.js"></script>
    <script src="~/js/final-countdown.min.js"></script>
    <script src="~/js/fancy-box.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-jvectormap.js"></script>
    <script src="~/js/jvector-map.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/pikaday.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
	<script>
		function onButtonProfileDiaryClicked() {
			location.href = '@Url.Action("Index", "ProfileDiary", new { area = "Diary" })';
		}

		function onButtonPostDiaryClicked() {
			location.href = '@Url.Action("Index", "PostDiary", new { area = "Diary" })';
		}

		function onButtonProfileInfoClicked() {
			location.href = '@Url.Action("Index", "ProfileInfo", new { area = "Diary" })';
		}

		function onButtonBackToLoginClicked() {
			location.href = '@Url.Action("Index", "Home", new { area = "" })';
		}
	</script>
</body>
</html>

